*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-primary:grey;
    --color-primary:black;
    --font-primary:'Lato', sans-serif;
    --font-thick:700;
    --font-thin:300;
    --small-padding:2em 0;
}

body{
    font-family: var(--font-primary);
    color: var(--color-primary);
    height: 100vh;
    background-color: var(--bg-primary);
}

.logo{
    color: black;
    flex: 2;
    padding: var(--small-padding);
    /* margin-right: 20%; */
    text-align: center;
}

.logo>svg{
    width: 30%;
}

.flex{
    display: flex;
}

.navbar li[role="nav-item"]{
    list-style: none;
    position: relative;
    
    
    
}

.navbar li[role="nav-item"]>a{
    color: var(--color-primary);
    text-decoration: none;
    font-weight: var(--font-thick);
    display: block;
    /* z-index: -3;  */

    
    /* transition: all 1s; */
    
}
.navbar{
    flex: 3;
    padding: var(--small-padding);
}
.navbar > ul{
    gap: 10px;
}

.navbar li[role="nav-item"]>a:hover{
    /* background-color: black; */
    color: white;
    /* width: 100%; */
    /* z-index: 3; */
}

.navbar li>a::before{
    content: "";
    /* right: 0px; */
    position: absolute;
    width: 60px;
    height: 20px;
    left: 60px;
    /* z-index: -3; */
    /* background-color: aqua; */
}

.navbar li>a:hover::before{
    transition:all 1s;
    background-color: black;
    color: white;
    /* width: 100%; */
    left: 0px;
    z-index: -8; 
}

.navbar li>a:hover::after{
    /* text-decoration: azure; */
    /* color: aliceblue; */
    /* z-index: 8; */
}

