*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-primary:grey;
    --color-primary:black;
    --font-primary:'Lato', sans-serif;
    --font-thick:700;
    --font-thin:300;
    --small-padding:2em 0;
}

body{
    font-family: var(--font-primary);
    color: var(--color-primary);
    height: 100vh;
    background-color: var(--bg-primary);
}

.logo{
    color: black;
    flex: 2;
    padding: var(--small-padding);
    /* margin-right: 20%; */
    text-align: center;
}

.logo>svg{
    width: 30%;
}

.flex{
    display: flex;
}

.navbar li[role="nav-item"]{
    list-style: none;
    position: relative;
    
    
    
}

.navbar li[role="nav-item"]>a{
    color: var(--color-primary);
    text-decoration: none;
    font-weight: var(--font-thick);
    display: block;
    /* z-index: -3;  */

    
    /* transition: all 1s; */
    
}
.navbar{
    flex: 3;
    padding: var(--small-padding);
}
.navbar > ul{
    gap: 10px;
}

.navbar li[role="nav-item"]>a:hover{
    /* background-color: black; */
    color: white;
    /* width: 100%; */
    /* z-index: 3; */
}

.navbar li>a::before{
    content: "";
    /* right: 0px; */
    position: absolute;
    width: 60px;
    height: 20px;
    left: 60px;
    /* z-index: -3; */
    /* background-color: aqua; */
}

.navbar li>a:hover::before{
    transition:all 1s;
    background-color: black;
    color: white;
    /* width: 100%; */
    left: 0px;
    z-index: -8; 
}


.navbar li>a:hover::after{
    /* text-decoration: azure; */
    /* color: aliceblue; */
    /* z-index: 8; */
}

.nav-mobile{
    display: none;
}

.mini{
    display: none;
}

@media(max-width:500px){

    .mini{
        background-color: black;
        width: 100vh;
        display:block;
        
    }

    .nav-mobile{
        display: flex;
        flex: 1;
        /* width: 10px; */
        gap: 30px;
        opacity: 0;
        background-color: black;
        
    
    }

    .logo{
        display: none;
    }
    
    .navbar{
        display: none;
    }

    .nav2-mobile{
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin-top: 100px;
        background-color: black;
        opacity: 0;
        
    }

    .nav2-li{
        margin-bottom: 100px;
    }

    .nav2-li>a{
        color: white;
        font-size: 30px;
        text-decoration: none;
    }

    .navbar{
        display: none;
    }

    #nav{
       display: none;
       position: absolute;
    }

    label::before{
        content: "=";
        font-size: 50px;
        color: white;
        font-weight: bold;
        position: absolute;
        right: 0;
        cursor: pointer;

    }

    #nav:checked ~ label:before{
        content: "\292B";
        color: white;
        font-size: 50px;
        position: absolute;
    }

    #nav:checked ~ .nav2-mobile{
        opacity: 1;
    }    

    #nav:checked ~ .nav-mobile{
        opacity: 1;
    }   
    
    #navli-1{
        background-color: rgb(255, 0, 0);
        height: 150px;
    }

    #navli-1>a{
        color: black;
        font-weight: bold;
        font-size: 100px;
        animation:slideOutRight; 
        animation-duration: 2s;
    }
}